.lineOne{
    position: absolute;
    border-bottom: 6px solid #F6BD60;
    width: 90px;
    transform: rotate(-58deg);
    bottom: 24px;
    right: -24px;
}

.lineTwo{
    position: absolute;
    border-bottom: 6px solid #F44A4A;
    width: 90px;
    transform: rotate(-58deg);
    bottom: 2px;
    right: -24px;
}