.custom-control-input:checked~.custom-control-label::before{
    color: #ffffff;
    border-color: #dc3545;
    background-color: #dc3545;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: grey;
    font-size: 1.2rem;
}