.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hideFooterBtn{
    position: absolute;
    bottom: 112px;
    right: 8px;
    z-index: 25;
    cursor: pointer;
}

.showFooterBtn{
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 25;
  cursor: pointer;
}