.bubble{
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 4rem 3.5rem;
    margin: 10rem 1rem;
    position: absolute;
    box-shadow: 4px 4px 2px 1px #F6BD60;
    border: 2px solid #F44A4A;
    cursor: pointer;
}

.bubbleNoob{
    top: -94px;
    left: 520px;
}

.bubbleBasic{
    bottom: 160px;
    left: 370px;
}

.bubbleExpert{
    top: 160px;
    left: 370px;
}

.bubblePrime{
    bottom: -80px;
    left: 538px;
}

.bubbleInput{
    position: absolute;
    top: 250px;
    right: 300px;
}
